<div class="container_form">


    <form  class="row justify-content-md-center form-email-center" >
      <div class="alert alert-danger" *ngIf="errors != ''">{{errors}}</div>
      <div class="alert alert-success " *ngIf="success != ''">{{success}}</div>
      <div>
        <button class="btn btn-primary btn-send" type="button" (click)="expression()">Send</button>
      </div>

      <label class="col-form-label title_form_all ">Message</label>
      <div class="col-md-12">

        <div class="form-group row">
          <label for="example-text-input" class="col-form-label title_form_red">To ....</label>
          <input class="form-control input_form_red" type="email" name="mail_to" placeholder="Email" [disabled]="cbb_mail_to ? 'disabled': null" (keyup)="onKey($event)">
          <label for="example-text-input" class="col-form-label or_form_red">or</label>
          <select class="select_form_red form-control" name="cbb_mail_to"  (change)="onChangeCbb($event)"  [disabled]="mail_to ? 'disabled': null" >
            <option value="">Select Group</option>
            <option value="tannguyen0201@gmail.com;">BA</option>
            <option value="tannguyen0202@gmail.com">Customer</option>
            <option value="tannguyen0203@gmail.com">Developer</option>           
          </select>
        </div>

        <div class="form-group row">
          <label for="example-email-input" class="col-form-label title_form_red" >CC ....</label>
          <input class="form-control input_form_red" type="email" name="mail_cc" placeholder="Email"  [disabled]="cbb_mail_cc ? 'disabled': null" (keyup)="onKey($event)">
          <label for="example-text-input" class="col-form-label or_form_red">or</label>
          <select class="select_form_red form-control"  name="cbb_mail_cc"  (change)="onChangeCbb($event)" [disabled]="mail_cc ? 'disabled': null" >
            <option value="">Select Group</option>
            <option value="tannguyen0201@gmail.com;">BA</option>
            <option value="tannguyen0202@gmail.com">Customer</option>
            <option value="tannguyen0203@gmail.com">Developer</option>     
          </select>
        </div>

        <div class="form-group row">
          <label for="example-url-fb" class="col-form-label title_form_red">BCC ...</label>
          <input class="form-control input_form_red" type="email" name="mail_bcc" placeholder="Email" [disabled]="cbb_mail_bcc ? 'disabled': null" (keyup)="onKey($event)">
          <label for="example-text-input" class="col-form-label or_form_red">or</label>
          <select class="select_form_red form-control "  name="cbb_mail_bcc"  (change)="onChangeCbb($event)"[disabled]="mail_bcc ? 'disabled': null" >
            <option value="">Select Group</option>
            <option value="tannguyen0201@gmail.com;">BA</option>
            <option value="tannguyen0202@gmail.com">Customer</option>
            <option value="tannguyen0203@gmail.com">Developer</option>     
          </select>
        </div>

        <div class="form-group row">
          <label class="col-form-label title_form_while">Form</label>
          <input class="form-control input_form_while" type="text" name="form" disabled="true" value="testemailsender020@gmail.com" placeholder="Form" (keyup)="onKey($event)" >
        </div>
        <div class="form-group row">
          <label class="col-form-label title_form_while">Subject</label>
          <input class="form-control input_form_while" type="text" name="subject" placeholder="Subject" (keyup)="onKey($event)">
        </div>

        <div class="form-group row">
          <label class="col-form-label title-full-width ">Message</label>
          <div class="editor_input">
              <ckeditor [editor]="Editor" data="{{data}}" (change)="onChange($event)"></ckeditor>
          </div>
        </div>
      </div>
    </form>
</div>
