.container_form{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
//   position: fixed;
}
.form-email-center{
    // width: 50%;
    width: 100%;
    padding-top: 40px;
}
.title_form_red{
    background: #EF3D26;
    color: #fff;
    font-weight: bold;
    width: 100px;
    height: 34px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
    margin: 0px;
}
.or_form_red{
    width: 30px;
    display: flex;
    float: left;
    justify-content: center;
    align-items: flex-end;
    height: 34px;
    margin: 0px;
    font-weight: normal;
}
.input_form_red{
    width: calc(100% - 350px);
    float: left;
    margin-left: 10px;
}
.select_form_red{
    width: 210px;
    float: left;
}
.title_form_while{
    color: #000;
    font-weight: bold;
    width: 100px;
    height: 34px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    float: left;
    margin: 0px;
}
.input_form_while{
    width: calc(100% - 110px);
    float: left;
    margin-left: 10px;
}
:host ::ng-deep .ck-editor__editable_inline {
    height:200px;
}
.btn-send{
    background: #7AC143;
    margin-bottom: 10px;
}
.title_form_all{
  background: #E6E6E6;
  color: #000;
  font-weight: bold;
  padding: 5px 5px;
  width: 100%;
}
@media (max-width : 860px){
    .container_form{
      width: 860px;
      position: relative;
    }
}
